@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('../styles/footer.css');
@import url('../styles/home.css');
@import url('../styles/home-products.css');
@import url('../styles/home-testimonials.css');

@import url('../styles/catalog.css');
@import url('../styles/product.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.main-container {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
