.catalog {
    display: flex;
    padding: 20px;
    background-color: #f5f5f5;
}

.filters {
    width: 20%;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filters h3, .filters h4 {
    margin-bottom: 15px;
}

.filters ul {
    list-style: none;
    padding-left: 0;
}

.filters ul li {
    margin-bottom: 10px;
}

/* Estilos generales de la lista */
.filter-category ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.filter-category li {
    margin-bottom: 10px;
}

/* Estilos para los enlaces */
.filter-category a {
    text-decoration: none; /* Elimina la subrayada */
    color: grey; /* Cambia el color del texto a gris */
    font-size: 16px; /* Tamaño de fuente ajustable */
    transition: color 0.3s ease;
}

/* Estilo para el enlace seleccionado */
.filter-category a.selected {
    color: black; /* Color negro para el enlace seleccionado */
}

/* Opcional: Cambia el color cuando el enlace es hover (al pasar el cursor) */
.filter-category a:hover {
    color: black; /* Cambia a negro cuando se pasa el mouse */
}

/* Estilo general de los botones */
.filter-material ul {
    list-style-type: none;
    padding: 0;
}

.filter-material li {
    margin-bottom: 10px;
}

/* Oculta los checkboxes por defecto */
.filter-material input[type="checkbox"] {
    display: none;
}

/* Estilos para los labels que actuarán como botones */
.filter-material label {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(221, 219, 219); /* Color gris por defecto */
    color: rgb(0, 0, 0);
    border-radius: 20px; /* Aspecto ovalado */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambia el color a negro cuando el checkbox esté seleccionado */
.filter-material input[type="checkbox"]:checked + label {
    background-color: black;
    color: white;
}

.filter-price {
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.filter-price input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.applyFilter {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

/* Lista de productos */
.product-list {
    width: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    transition: all 0.3s ease;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product a {
    text-decoration: none;
    color: black; /* Establece el color del texto en negro */
}

.product a:hover {
    color: lightgray; /* Cambia el color a gris claro al pasar el cursor */
}

.product h2 {
    color: inherit; /* Mantiene el color definido en el enlace */
}


.product[style="display: none;"] {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.product img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.product p {
    margin: 10px 0;
}

/* Estilos para los precios */
.current-price {
    font-weight: bold;
    color: #000000; /* Color del precio actual */
}

.original-price {
    text-decoration: line-through; /* Tacha el precio original */
    color: grey;
    margin-left: 10px;
}

.discount {
    color: red; /* Color del descuento */
    font-weight: bold;
    margin-left: 10px;
}

/* Paginacion */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.pagination .page-number {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination .page-number.selected {
    background-color: #333;
    color: white;
}

.pagination .disabled {
    opacity: 0.5;
    pointer-events: none;
}

