
.slider-button {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;

    border: none !important;
    padding: 0 !important;
    background-color: gray !important;
}

.testimonial-container {
    max-width: calc(90% - 4rem); /* Ajusta el ancho máximo */
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-bottom: 3rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.slider-container {
    display: flex;
    align-items: center;
}

.testimonial-slider {
    width: 100%;
    overflow: hidden;
}

.testimonial-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    align-items: baseline;
}

.testimonial-card {
    flex: 0 0 calc(32.5% - 1.3rem); /* Aproximadamente 1/3 del ancho menos el margen */
    padding: 20px;
    background: white;
    border-radius: 20px;
    border: 2px solid #dadada;
    margin-right: 2rem; /* Añade margen derecho */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

.testimonial-card:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última tarjeta */
}

.stars {
    color: #FFD700;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.name {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.text {
    color: #666;
    line-height: 1.5;
    font-size: 1.1rem;
}


.slider-button.prev {
    left: 2%;
}

.slider-button.next {
    right: 2%;
}

@media (max-width: 768px) {
    .testimonial-card {
        flex: 0 0 100%;
    }
}