/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra superior */
.top-bar {
    background-color: #006C2E;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}
.top-bar p {
    width: 97%;
    display: inline-block;
}
.top-bar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #F1702A;
}

/* Buscador */
.search-container {
    max-width: 198px;
    display: flex;
    align-items: center;
    background-color: #eafde6;
    border-radius: 30px;
    padding: 5px 10px;
}

.search-container input {
    max-width: 156px;
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
}

.search-container button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-container img {
    height: 20px;
}

@media (max-width: 432px) {
    .logo img {
        height: 30px;
    }
    .navbar {
        padding: 10px 20px;
    }
    
    .top-bar p {
        width: 91%;
    }
    .top-bar{
        display: flex;
    }
    .newsletter h2 {
        font-size: 20px !important;
    }
}

@media (max-width: 1040px) {
    .nav-links {
        display: none;
    }
    .search-container {
        display: none;
    }
    .buttons img {
        display: none;
    }
    .navbar {
        padding-left: 0%;
        padding-right: 0%;
    }
    .buttons {
        justify-content: flex-end;
    }
    .buttons button {
        padding: 8px 9px !important;
        margin-right: 10px;
        margin-left: 0% !important;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .social-icons {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 6%;
    }
    .footer-links {
        
        gap: 8% !important;
    }
}

/* Carrito e ingresar */
nav .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 294px;
}

nav .buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 999px;
    color: white;
    cursor: pointer;
}

nav .buttons .register {
    background-color: #fb923c;
}

nav .buttons .login {
    background-color: #047857;
}

.buttons img {
    height: 29px;
    cursor: pointer;
    padding-left: 5%;
}
